<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" href="style.css">
     <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>New Chat Message</h3>
    <form method="POST" action="/chats">
        <input placeholder="sender" name="from" type="text">
            <br><br>
        <textarea placeholder="Write your message" name="msg"></textarea>
        <br><br>                                        
        <input placeholder="receiver name" name="to" type="text">
        <br><br>
        <button type="submit" class="btn">Send Message</button>
    </form>
</body>
</html>